<!DOCTYPE html>
<html>
<head>
	<title>Curs</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
	<link rel="stylesheet" type="text/css" href="default.css">
	<script src = "js/curs.js"> </script>
</head>
<body>

<!-- Bara fixata -->

<ul>
  <li><div class = "makosoft" style = "padding-left: 10px; 
  padding-right: 10px;">Makosoft</div></li>

  <li><a href="/adaugare.html"><b>Adauga curs</b></a></li>
  <li><a class = "active" href="/cursuri.html"><b>Cursuri</b></a></li>
  <li><a href="/note.html"><b>Note</b></a></li>
</ul>

<div style="padding:20px;
			margin-top:30px;">

<div id = "main" style = "text-align: center;">
	<h1 id = "title"> </h1>
</div>

<div id = "sidebar"> </div>

<div id = "main">
	<fieldset style = "font-size: 18px;" id = "fs"> </fieldset>
</div>

<div id = "sidebar">
	<fieldset style = "border-left: 0px solid black; padding-right: 10px; 
								 padding-left: 10px; font-size: 18px;">
	<div align = "center"> 
		<b> Notele adaugate </b>
	</div>
	<br>
	<div class = "result"> </div>

	<Br>
	<div align = "center"><button class = "pagination" style = "width: 62%;" id = "calcul"> 
		Calculeaza media
	</button></div>

</fieldset>
</div>

</body>
</html>