<!DOCTYPE html>
<html>
<head>
	<title>Cursuri</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
	<link rel="stylesheet" type="text/css" href="default.css">
	<script src = "js/cursuri.js"> </script>
</head>
<body>

	<!-- Bara fixata -->

	<ul>
	  <li><div class = "makosoft" style = "padding-left: 10px; 
	  padding-right: 10px;">Makosoft</div></li>

	  <li><a href="/adaugare.html"><b>Adauga curs</b></a></li>
	  <li><a class = "active" href="/cursuri.html"><b>Cursuri</b></a></li>
	  <li><a href="/note.html"><b>Note</b></a></li>
	</ul>

	<div style="padding:20px;
				margin-top:30px;">


	<div id = "first"> 
		<div id = "firstcol1"> 
			<div align = "center"> <h1> Anul I </h1> </div> 
		</div>
		<div id = "firstcol2"> 
			<div align = "center"> <h1> Anul II </h1> </div>  
		</div>
	</div>

	<div id = "second"> 
		<div align = "center"> <h1> Anul III </h1> </div> 
	</div>

</body>
</html>