<!DOCTYPE html>
<html>
<head>
	<title>Pagina principala</title>
	<link rel="stylesheet" type="text/css" href="default.css">
</head>
<body>

	<ul>
	  <li><div class = "makosoft" style = "padding-left: 10px; 
	  padding-right: 10px;">Makosoft</div></li>

	  <li><a href="/adaugare.html"><b>Adauga curs</b></a></li>
	  <li><a href="/cursuri.html"><b>Cursuri</b></a></li>
	  <li><a href="/note.html"><b>Note</b></a></li>
	</ul>

	<div style="padding:20px;
				margin-top:30px;">

	<h1> Bine ai venit! </h1>
	<fieldset style = "font-size: 18px; text-align: justify;"> Platforma este dedicata inregistrarii informatiilor despre notele obtinute pe o perioada de 3 ani. Folositi bara de navigare pentru a avea acces la functiile site-ului. </fieldset>

</body>
</html>