<!DOCTYPE html>
<html>
<head>
	<title>Note</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
	<link rel="stylesheet" type="text/css" href="default.css">
</head>
<body>

<!-- Bara fixata -->

<ul>
  <li><div class = "makosoft" style = "padding-left: 10px; 
  padding-right: 10px;">Makosoft</div></li>

  <li><a href="/adaugare.html"><b>Adaugare curs</b></a></li>
  <li><a href="/cursuri.html"><b>Cursuri</b></a></li>
  <li><a class = "active" href="/note.html"><b>Note</b></a></li>
</ul>

<div style="padding:20px;
			margin-top:30px;">


<div id = "main">
	<div align = "center">
			<h1> Note </h1>
	</div>
</div>

<div id = "sidebar"></div>

<div id = "main">

	<table id = "rez" style = "background-color: #CCD6DD; border-radius: 4px; overflow-x:auto; width: 100%; font-size: 18px;">
		<tr>
			<th style = "padding-top: 10px; padding-bottom: 10px; background-color: #66757F;"> Data </th>
			<th style = "padding-top: 10px; padding-bottom: 10px; background-color: #66757F;"> Materia </th>
			<th style = "padding-top: 10px; padding-bottom: 10px; background-color: #66757F;"> Tip </th>
			<th style = "padding-top: 10px; padding-bottom: 10px; background-color: #66757F;"> Nota </th>
			<th style = "padding-top: 10px; padding-bottom: 10px; background-color: #66757F;"> Sterge </th>
		</tr>

	</table>

<br><br>

</div>

<div id = "sidebar">
<fieldset style = "border-left: 0px solid black; padding-right: 10px; 
								 padding-left: 10px; font-size: 18px;">
	<div align = "center"> 
		<b style = "font-size: 18px;"> Introducere nota </b>
	</div>
	<br>

		<select style = "width: 100%;" id = "curs"></select>
		<br><br>
		<select style = "width: 48%;" id = "tip">
			<option> Curs </option>
			<option> Seminar </option>
			<option> Laborator </option>
			<option> Intermediara </option>
		</select>

		<select style = "width: 48%; float: right;" id = "nota">
			<option> 10 </option>
			<option> 9 </option>
			<option> 8 </option>
			<option> 7 </option>
			<option> 6 </option>
			<option> 5 </option>
			<option> 4 </option>
			<option> 3 </option>
			<option> 2 </option>
			<option> 1 </option>
		</select>
		
		<br><br>
		<div align = "center"><button class = "pagination" style = "width: 62%;" id = "send"> Introduceti nota </button></div>

		<p style = "font-size:14px;text-align:justify;">Notele intermediare nu intra in calculul mediilor</p>

</fieldset>
</div>

<script>
$('.makosoft').on ('click', function () {
	window.location = '/';
});

function createID() {
	var d = new Date();

	var year = d.getFullYear() % 100;

	var mon = d.getMonth() + 1;
	if(mon < 10)
		mon = '0' + mon;

	var day = d.getDate();
	if(day < 10)
		day = '0' + day;

	var hr = d.getHours();
	if(hr < 10)
		hr = '0' + hr;

	var min = d.getMinutes();
	if(min < 10)
		min = '0' + min;

	var sec = d.getSeconds();
	if(sec < 10)
		sec = '0' + sec;

	var id = year + mon + day + hr + min + sec;

	return id;
}

function getCurrentDate () {
	var d = new Date ();
	var year = d.getFullYear();

	var mon = d.getMonth() + 1;
	if(mon < 10)
		mon = '0' + mon;

	var day = d.getDate();
	if(day < 10)
		day = '0' + day;

	var currentDate = day + '.' + mon + '.' + year;

	return currentDate;
}

$.get ('/selectCursuri')
	.then (data => {
		for (var i = 0; i < data.length; ++i) {
			$('#curs').append ('<option>' + data[i].nume + '</option>');
		}
	});

$('#send').click (function () {
	var elementCurs = document.getElementById('curs');
	var curs = elementCurs.options[elementCurs.selectedIndex].text;

	var elementTip = document.getElementById('tip');
	var tip = elementTip.options[elementTip.selectedIndex].text;

	var elementNota = document.getElementById('nota');
	var nota = elementNota.options[elementNota.selectedIndex].text;

	var objToMongo = {
		_id: createID(),
		curs: curs,
		tip: tip,
		nota: nota,
		data: getCurrentDate()
	};

	$.post ('/insertNota', objToMongo, function (data) {}, 'json');

	alert ('Nota a fost introdusa cu succes!');
	window.location = '/note.html';
});

$.get ('/selectNote')
	.then (data => {
		for (var i = 0; i < data.length; ++i) {
			$('#rez')
				.append ('<tr style = "font-size: 18px;">\
							<td style = "text-align:center;">' + data[i].data + '</td>\
							<td style = "text-align:center;">' + data[i].curs + '</td>\
							<td style = "text-align:center;">' + data[i].tip + '</td>\
							<td style = "text-align:center;">' + data[i].nota + '</td>\
							<td style = "text-align:center;"><button class = "del" id = "' + data[i]._id + '">Sterge</button></td>\
						</tr>');
		}

		$('.del').click (function () {
			$.get ('/stergeNota/' + $(this).attr('id'))
				.then (data => {});
			
			alert ('Nota a fost stearsa cu succes!');
			window.location = '/note.html';
		});
	});
</script>
</body>
</html>